@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-white dark:bg-gray-950 text-gray-900 dark:text-white;
  }

  :focus-visible {
    @apply outline-2 outline-offset-2 outline-blue-500;
  }
}

@layer utilities {
  .section-label {
    @apply text-g-blue dark:text-blue-400 font-medium text-sm uppercase tracking-widest;
  }
}
